.img{
    height: 240px;
    width: auto;
    margin: 0 auto;
}
.title{

}
.nutritional{
    display: flex;
    margin: 0 -10px;

}
.nutritional__item{
    flex: 1 1 auto;
    margin: 0 10px;
    line-height: 2;
}